* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin: 0 auto;
}

body {
  background-color: #000000;
  color: #f6f6f6;
  max-width: 1280px;
}

.conteudo {
  margin-top: 150px;
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-between;
}

.conteudo-texto {
  width: 50%;
  padding: 20px;
}

.conteudo-imagem {
  width: 50%;
  padding: 20px;
}

h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 36px;
  line-height: 56px;
}

strong {
  color: #22d4fd;
}

p {
  margin-top: 40px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 36px;
}

span {
  color: #22d4fd;
  font-weight: bold;
}

.btn-links {
  margin-top: 51px;
  text-align: center;
}

a {
  padding: 21.5px 53px;
  background-color: #22d4fd;
  color: #000000;
  text-decoration: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 36px;
  margin: 15px;
  border-radius: 16px;
}

img {
  width: 488px;
}
